# GEMINI_API_KEY: Required for Gemini AI API calls.
# GEMINI_API_KEY=MY_GEMINI_API_KEY

# Yandex SpeechKit TTS API Key and Folder
YANDEX_SPEECHKIT_API_KEY=AQVNzErG0DrharLtzmJmtouxbc9dMueJ6dqiez6c
YANDEX_SPEECHKIT_FOLDER_ID=b1g2uf5cu7b2ii93kg6h

